<h1 style = "margin-top: 5%">Users</h1>

<p><a href="/new_user">Add a New User</a></p>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password digest</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
          <td><%= user.username %></td>
          <td><%= user.password_digest %></td>
          <td><a href="/users/<%= user.id %>">Show</a>
        </td>
      <td><a href="/users/<%= user.id %>/edit">Edit</a></td>
      <td><a href="/users/<%= user.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

