<h1>User #<%= @user.id %></h1>

<div>
  <strong>Username</strong>:<br />
  <p><%= @user.username %></p>
</div>

<%= @user.password_digest %><br />

<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy">Destroy</a>
